	{% extends "base_sas_cliente.html" %}
	{% load i18n %}
	{% block title %}{% trans 'Inicio' %}{% endblock %}



	{% block content %}

	<div>
		<div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td> Asunto </td>
						<td> Remitente </td>
						<td> Fecha </td>
						<td> Prioridad</td>
						<td> Mensaje</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> Soporte 15 de noviembre </td>
						<td> Soporte tamarindo </td>
						<td> 15/11/2014 </td>
						<td> Normal </td>
						<td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis erat a erat tincidunt tincidunt....</td>					
				</tr>
				<tr>
						<td> Biemvenido a nuestro CRM</td>
						<td> tamarindo labs </td>
						<td> 15/11/2014 </td>
						<td> Normal </td>
						<td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis erat a erat tincidunt tincidunt.... </td>				
				</tr>
					<tr>
						<td> Soporte 15 de noviembre </td>
						<td> Soporte tamarindo </td>
						<td> 15/11/2014 </td>
						<td> Normal </td>
						<td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis erat a erat tincidunt tincidunt.... </td>					
				</tr>
				<tr>
						<td> Biemvenido a nuestro CRM</td>
						<td> tamarindo labs </td>
						<td> 15/11/2014 </td>
						<td> Normal </td>
						<td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis erat a erat tincidunt tincidunt....</td>				
				</tr>
					<tr>
						<td> Soporte 15 de noviembre </td>
						<td> Soporte tamarindo </td>
						<td> 15/11/2014 </td>
						<td> Normal </td>
						<td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis erat a erat tincidunt tincidunt....  </td>					
				</tr>
				<tr>
						<td> Biemvenido a nuestro CRM</td>
						<td> tamarindo labs </td>
						<td> 15/11/2014 </td>
						<td> Normal </td>
						<td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis erat a erat tincidunt tincidunt....  </td>				
				</tr>
				</tbody>
				
			</table>
			<div id="paginador">
				<a href="">Anterior</a> 1 2 3 4 <a href="">siguiente</a>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block style %}
	{% endblock %}

	{% block js %}

	{% endblock %}