	{% extends "base_sas_cliente.html" %}
	{% load i18n %}
	{% block title %}{% trans 'Inicio' %}{% endblock %}



	{% block content %}
	 <div id="center_produtos">
	 	<div class="title_my_productos"></div>
	 	<div class="my_pro"> 
		 		<img src="{{STATIC_URL}}img/prueba.png">

	 	</div>


	</div>

	{% endblock %}

	{% block style %}
	{% endblock %}

	{% block js %}
	<script type="text/javascript">
      $( document ).ready(function() {
		$('#link_catalogo_produtos').click();
      	
      })
	</script>
	{% endblock %}